.container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create {
    background-color: #0abda0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create:hover {
    background-color: #076d5c;
}