.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: start;
}

.fieldGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.fullWidth {
    grid-column: 1 / -1;
}

.radioGroup {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.button {
    background-color: #2c61d4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #143783;
}

.error {
    color: #530606;
    font-size: 14px;
    margin-top: 4px;
}
